<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BackupDirectory" value="Backups" />
    <add key="CsvFileNameExtension" value="csv" />
    <add key="CsvSeparator" value=";" />
    <add key="DateFormatForFileName" value="yyyy-MM-dd-HH-mm" />
    <add key="FetchNewMarketData" value="fetch" />
    <add key="IsinFileName" value="isins.csv" />
    <add key="MarketDataFileName" value="marketdata.csv" />
    <add key="RegistryFileName" value="registry.csv" />
    <add key="UpdateMarketDataWithISINs" value="addisins" />
    <add key="WorkingDirectory" value="StockExchange" />
    <add key="WorkingDirectoryBase" value="Desktop" />
    <add key="WorkingDirectoryRawDownloads" value="RawDownload" />
    <add key="WorkingDirectoryRegistry" value="Registry" />
  </appSettings>
</configuration>